<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @beacon.UUID %>
</p>

<p>
  <strong>Major:</strong>
  <%= @beacon.major %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @beacon.minor %>
</p>

<p>
  <strong>Location:</strong>
  <%= @beacon.location %>
</p>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
