<h1>Listing unicorns</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unicorns.each do |unicorn| %>
  <tr>
    <td><%= unicorn.name %></td>
    <td><%= link_to 'Show', unicorn %></td>
    <td><%= link_to 'Edit', edit_unicorn_path(unicorn) %></td>
    <td><%= link_to 'Destroy', unicorn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unicorn', new_unicorn_path %>
