= form_for @engagement, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :beacon_id, :class => 'control-label'
    .controls
      = f.text_field :beacon_id, :class => 'text_field'
  .control-group
    = f.label :unicorn_id, :class => 'control-label'
    .controls
      = f.text_field :unicorn_id, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), engagements_path, :class => 'btn'
