<h1>Listing engagements</h1>

<table>
  <thead>
    <tr>
      <th>Beacon</th>
      <th>Unicorn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engagements.each do |engagement| %>
      <tr>
        <td><%= engagement.beacon_id %></td>
        <td><%= engagement.unicorn_id %></td>
        <td><%= link_to 'Show', engagement %></td>
        <td><%= link_to 'Edit', edit_engagement_path(engagement) %></td>
        <td><%= link_to 'Destroy', engagement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engagement', new_engagement_path %>
