<p id="notice"><%= notice %></p>

<p>
  <b>Beacon:</b>
  <%= @engagement.beacon_id %>
</p>

<p>
  <b>Unicorn:</b>
  <%= @engagement.unicorn_id %>
</p>

<p>
  <b>Engagement date:</b>
  <%= @engagement.engagement_date %>
</p>


<%= link_to 'Edit', edit_engagement_path(@engagement) %> |
<%= link_to 'Back', engagements_path %>
