<p id="notice"><%= notice %></p>

<p>
  <strong>Beacon:</strong>
  <%= @engagement.beacon_id %>
</p>

<p>
  <strong>Unicorn:</strong>
  <%= @engagement.unicorn_id %>
</p>

<%= link_to 'Edit', edit_engagement_path(@engagement) %> |
<%= link_to 'Back', engagements_path %>
